<% provide(:title, 'Dashboard') %>
<div class="row-fluid">
  <div class="page-header span12">
    <h1><%= yield(:title) %> <small>for <%= current_user.email %></small></h2>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h3>Hari ini</h3>
      <ul>
        <li><span class="label label-warning">Pending</span> <%= @pending_today %></li>
        <li><span class="label label-important">Dibatalkan</span> <%= @cancelled_today %></li>
        <li><span class="label label-info">Disetujui</span> <%= @approved_today %></li>
        <li><span class="label label-success">Didaftarkan</span> <%= @registered_today %></li>
        <li><span class="label label-success">Dicetak</span> <%= @printed_today %></li>
      </ul>
      <h3>Bulan ini</h3>
      <ul>
        <li><span class="label label-warning">Pending</span> <%= @pending_mtd %></li>
        <li><span class="label label-important">Dibatalkan</span> <%= @cancelled_mtd %></li>
        <li><span class="label label-info">Disetujui</span> <%= @approved_mtd %></li>
        <li><span class="label label-success">Didaftarkan</span> <%= @registered_mtd %></li>
        <li><span class="label label-success">Dicetak</span> <%= @printed_mtd %></li>
      </ul>
      <h3>Tahun ini</h3>
      <ul>
        <li><span class="label label-warning">Pending</span> <%= @pending_ytd %></li>
        <li><span class="label label-important">Dibatalkan</span> <%= @cancelled_ytd %></li>
        <li><span class="label label-info">Disetujui</span> <%= @approved_ytd %></li>
        <li><span class="label label-success">Didaftarkan</span> <%= @registered_ytd %></li>
        <li><span class="label label-success">Dicetak</span> <%= @printed_ytd %></li>
      </ul>
    </div>
    <div class="span10">
      <span class="label label-warning"><h3>Pending</h3></span>
      <table class="table table-condensed">
        <thead>
          <th>tanggal</th>
          <th>no rangka</th>
          <th>no mesin</th>
        </thead>
        <% @pending.each do |t| %>
          <tr>
            <td><%= t.tg_mohon %></td>
            <td><%= t.no_rangka %></td>
            <td><%= t.no_mesin %></td>
          </tr>
        <% end %>
      </table>
      <span class="label label-important"><h3>Dibatalkan</h3></span>
      <table class="table table-condensed">
        <thead>
          <th>tanggal</th>
          <th>no rangka</th>
          <th>no mesin</th>
        </thead>
        <% @cancelled.each do |t| %>
          <tr>
            <td><%= t.tg_pembatalan %></td>
            <td><%= t.no_rangka %></td>
            <td><%= t.no_mesin %></td>
          </tr>
        <% end %>
      </table>
      <span class="label label-info"><h3>Disetujui</h3></span>
      <table class="table table-condensed">
        <thead>
          <th>tanggal</th>
          <th>no rangka</th>
          <th>no mesin</th>
        </thead>
        <% @approved.each do |t| %>
          <tr>
            <td><%= t.tg_persetujuan %></td>
            <td><%= t.no_rangka %></td>
            <td><%= t.no_mesin %></td>
          </tr>
        <% end %>
      </table>
      <span class="label label-success"><h3>Didaftarkan</h3></span>
      <table class="table table-condensed">
        <thead>
          <th>tanggal</th>
          <th>no rangka</th>
          <th>no mesin</th>
        </thead>
        <% @registered.each do |t| %>
          <tr>
            <td><%= t.tg_daftar %></td>
            <td><%= t.no_rangka %></td>
            <td><%= t.no_mesin %></td>
          </tr>
        <% end %>
      </table>
      <span class="label label-success"><h3>Dicetak</h3></span>
      <table class="table table-condensed">
        <thead>
          <th>tanggal</th>
          <th>no rangka</th>
          <th>no mesin</th>
        </thead>
        <% @printed.each do |t| %>
          <tr>
            <td><%= t.tg_cetak %></td>
            <td><%= t.no_rangka %></td>
            <td><%= t.no_mesin %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


