<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, "Password" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <% if current_user.is?"admin" %>
  <div class="field">
    <%= f.label "Role" %>
    <div class="controls">
      <% for role in User::ROLES %>
        <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
        <%= label_tag "user_roles_#{role}", role.humanize %><br />
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Kembali', users_path,:class => "btn btn-small" %>    
  </div>
<% end %>
