<%= form_for(@stck_request) do |f| %>
  <% if @stck_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stck_request.errors.count, "error") %> prohibited this stck_request from being saved:</h2>

      <ul>
      <% @stck_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idperusahaan %><br />
    <%= f.number_field :idperusahaan %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :perusahaan_id %><br />
    <%= f.number_field :perusahaan_id %>
  </div>
  <div class="field">
    <%= f.label :kepentingan %><br />
    <%= f.text_field :kepentingan %>
  </div>
  <div class="field">
    <%= f.label :merk %><br />
    <%= f.text_field :merk %>
  </div>
  <div class="field">
    <%= f.label :jenis %><br />
    <%= f.text_field :jenis %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :thn_buat %><br />
    <%= f.number_field :thn_buat %>
  </div>
  <div class="field">
    <%= f.label :thn_rakit %><br />
    <%= f.number_field :thn_rakit %>
  </div>
  <div class="field">
    <%= f.label :jml_cc %><br />
    <%= f.number_field :jml_cc %>
  </div>
  <div class="field">
    <%= f.label :warna %><br />
    <%= f.text_field :warna %>
  </div>
  <div class="field">
    <%= f.label :bbm %><br />
    <%= f.text_field :bbm %>
  </div>
  <div class="field">
    <%= f.label :tnkb %><br />
    <%= f.text_field :tnkb %>
  </div>
  <div class="field">
    <%= f.label :jml_roda %><br />
    <%= f.number_field :jml_roda %>
  </div>
  <div class="field">
    <%= f.label :no_rangka %><br />
    <%= f.text_field :no_rangka %>
  </div>
  <div class="field">
    <%= f.label :no_mesin %><br />
    <%= f.text_field :no_mesin %>
  </div>
  <div class="field">
    <%= f.label :tg_mohon %><br />
    <%= f.datetime_select :tg_mohon %>
  </div>
  <div class="field">
    <%= f.label :tg_persetujuan %><br />
    <%= f.datetime_select :tg_persetujuan %>
  </div>
  <div class="field">
    <%= f.label :no_daftar %><br />
    <%= f.text_field :no_daftar %>
  </div>
  <div class="field">
    <%= f.label :tg_daftar %><br />
    <%= f.datetime_select :tg_daftar %>
  </div>
  <div class="field">
    <%= f.label :tg_akhir %><br />
    <%= f.date_select :tg_akhir %>
  </div>
  <div class="field">
    <%= f.label :tg_cetak %><br />
    <%= f.datetime_select :tg_cetak %>
  </div>
  <div class="field">
    <%= f.label :tg_pembatalan %><br />
    <%= f.datetime_select :tg_pembatalan %>
  </div>

  <div class="field">
    <%= f.label :kabupaten %><br />
    <%= f.text_field :kabupaten %>
  </div>
  <div class="field">
    <%= f.label :idranmor %><br />
    <%= f.number_field :idranmor %>
  </div>
  <div class="actions">
    <%= f.submit, class="btn btn-large" %>
  </div>
<% end %>
