<% frmclass="form-horizontal" %>
<% frmdivclass="control-group" %>
<% frmlabelclass="control-label" %>
<% frminputclass="controls" %>
<%= form_for(@stck_request, :html => { :class => "#{frmclass}" }) do |f| %>
  <div class="<%=frmdivclass%>">
    <label class="<%=frmlabelclass%>">Kepentingan: </label>
      <div class="<%=frmdivclass %>"><%= f.text_area :kepentingan,:rows => "3" %></div>
    <label class="<%=frmlabelclass%>">Merek/Jenis:</label>
      <div class="<%=frmdivclass %>"><%= f.text_field :merk %> / <%= f.text_field :jenis %></div>
    <label class="<%=frmlabelclass%>">Model: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field :model %></div>
    <label class="<%=frmlabelclass%>">Nomor rangka/mesin: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field :no_rangka %> / <%= f.text_field :no_mesin %></div>
    <label class="<%=frmlabelclass%>">Tahun buat/rakit: </label>
      <div class="<%=frmdivclass %>"><%= f.number_field :thn_buat %> / <%= f.number_field :thn_rakit %></div>
    <label class="<%=frmlabelclass%>">Jumlah CC: </label>
      <div class="<%=frmdivclass %>"><%= f.number_field :jml_cc %></div>
    <label class="<%=frmlabelclass%>">Warna: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field :warna %></div>
    <label class="<%=frmlabelclass%>">Bbm: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field :bbm %></div>
    <label class="<%=frmlabelclass%>">TNKB: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field :tnkb %></div>
    <label class="<%=frmlabelclass%>">Jumlah roda: </label>
      <div class="<%=frmdivclass %>"><%= f.number_field :jml_roda %></div>
    <label class="<%=frmlabelclass%>">Kabupaten: </label>
      <div class="<%=frmdivclass %>"><%= f.text_field(:kabupaten)%></div>
  </div>
  <div class="hidden">
    <label class="<%=frmlabelclass%>">Perusahaan: </label>
    <div class="<%=frmdivclass %>"><%= f.text_field :perusahaan_id %></div>
    <%= f.label :tg_mohon %><br />
    <%= f.datetime_select :tg_mohon %>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
    <%= f.label :perusahaan_id %><br />
    <%= f.number_field :perusahaan_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
