<!--- 
TODO
--->
<% provide(:title, "Daftar permohonan STCK") %>
<div class="row-fluid"  >
  <div id="pgnav" class="navbar row-fluid pull-left container">
    <div class="navbar-inner">
      <%= link_to 'Tambah permohonan', new_stck_request_path,:class => "btn  btn-primary"  unless current_user.is?"admin"%>
      <%= render :partial => 'filters' %>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Status saat ini/tgl perubahan</th>
          <% if current_user.is?"admin" %>
          <th>Pemohon</th>
          <% end %>
          <th>No rangka</th>
          <th>No mesin</th>
          <th>Merk</th>
          <th>Jenis</th>
          <th>Model</th>
          <th>Thn buat/rakit</th>
          <th>Sejarah status</th>
          <th>Kabupaten</th>
          <th colspan="3">&nbsp</th>
        </tr>
      </thead>
      <tbody>
        <% @stck_requests.each do |stck_request| %>
          <% case stck_request.stck_status %>
          <% when "Dimohon" %>
            <tr class="pending">
          <% when "Dibatalkan" %>
            <tr class="error">
          <% when "Disetujui" %>
            <tr class="info">
          <% when "Didaftarkan" %>
            <tr class="success">
          <% when "Dicetak" %>
            <tr class="success">
          <% end %>
              <% case stck_request.stck_status %>
              <% when "Dimohon" %>
                <% lblstatus="label label-warning"; status="Dimohon: #{stck_request.tg_mohon}" %>
              <% when "Dibatalkan" %>
                <% lblstatus="label label-important"; status="Dibatalkan: #{stck_request.tg_pembatalan}" %>
              <% when "Disetujui" %>
                <% lblstatus="label label-info"; status="Disetujui: #{stck_request.tg_persetujuan}" %>
              <% when "Didaftarkan" %>
                <% lblstatus="label label-success"; status="Didaftarkan: #{stck_request.tg_daftar}" %>
              <% when "Dicetak" %>
                <% lblstatus="label label-success"; status="Dicetak: {stck_request.tg_cetak}" %>
              <% end %>
            <td><span class="<%= lblstatus %>"><%= status %></span> </td>
            <% if current_user.is?"admin" %>
            <td><%= stck_request.user.email %></td>
            <% end %>
            <td><%= stck_request.no_rangka %> </td>
            <td><%= stck_request.no_mesin %> </td>
            <td><%= stck_request.merk %> </td>
            <td><%= stck_request.jenis %> </td>
            <td><%= stck_request.model %> </td>
            <td><%= stck_request.thn_buat %> / <%= stck_request.thn_rakit %> </td>
            <td>
              Dimohon   :<%= stck_request.tg_mohon %>
              <% if stck_request.stck_status=="Disetujui" %><br>Disetujui :<%= stck_request.tg_persetujuan %><% end %>
              <% if stck_request.stck_status=="Didaftarkan" %><br>Didaftar  :<%= stck_request.tg_daftar %><% end %>
              <% if stck_request.stck_status=="Dicetak" %><br>Dicetak   :<%= stck_request.tg_cetak %><% end %>
              <% if stck_request.stck_status=="Dibatalkan" %><br>Pembatalan:<%= stck_request.tg_pembatalan %> <%end%>
            </td>
            <td><%= stck_request.kabupaten %> </td>
<!--- Menu --->
              <td><%= link_to 'Tampilkan', stck_request,:class => "btn btn-small" %>
                <% unless current_user.is?"admin"%>
                <% if stck_request.stck_status.upcase == "DIMOHON" %>
                  <br><%= link_to 'Rubah', edit_stck_request_path(stck_request),:class => "btn btn-small" %>
                  <br><%= link_to 'Batalkan', stck_request, method: :delete, data: { confirm: "Batalkan no rangka #{stck_request.no_rangka}?" },:class => "btn btn-small" %> 
                <% end %>
                <% if stck_request.stck_status.upcase == "DIBATALKAN" %>
                  <br><%= link_to 'Aktifkan', stck_request, method: :delete, data: { confirm: "Aktifkan  no rangka #{stck_request.no_rangka}?" },:class => "btn btn-small" %> 
                <% end %>
              </td>
            <% end %>
          </tr>
      <% end %>
      <tbody>
    </table>
<%= will_paginate @products %>
  </div>
</div>
