<p id="notice"><%= notice %></p>

<p>
  <b>Idperusahaan:</b>
  <%= @stck_request.idperusahaan %>
</p>

<p>
  <b>User:</b>
  <%= @stck_request.user_id %>
</p>

<p>
  <b>Perusahaan:</b>
  <%= @stck_request.perusahaan_id %>
</p>

<p>
  <b>Kepentingan:</b>
  <%= @stck_request.kepentingan %>
</p>

<p>
  <b>Merk:</b>
  <%= @stck_request.merk %>
</p>

<p>
  <b>Jenis:</b>
  <%= @stck_request.jenis %>
</p>

<p>
  <b>Model:</b>
  <%= @stck_request.model %>
</p>

<p>
  <b>Thn buat:</b>
  <%= @stck_request.thn_buat %>
</p>

<p>
  <b>Thn rakit:</b>
  <%= @stck_request.thn_rakit %>
</p>

<p>
  <b>Jml cc:</b>
  <%= @stck_request.jml_cc %>
</p>

<p>
  <b>Warna:</b>
  <%= @stck_request.warna %>
</p>

<p>
  <b>Bbm:</b>
  <%= @stck_request.bbm %>
</p>

<p>
  <b>Tnkb:</b>
  <%= @stck_request.tnkb %>
</p>

<p>
  <b>Jml roda:</b>
  <%= @stck_request.jml_roda %>
</p>

<p>
  <b>No rangka:</b>
  <%= @stck_request.no_rangka %>
</p>

<p>
  <b>No mesin:</b>
  <%= @stck_request.no_mesin %>
</p>

<p>
  <b>Tg mohon:</b>
  <%= @stck_request.tg_mohon %>
</p>

<p>
  <b>Tg persetujuan:</b>
  <%= @stck_request.tg_persetujuan %>
</p>

<p>
  <b>No daftar:</b>
  <%= @stck_request.no_daftar %>
</p>

<p>
  <b>Tg daftar:</b>
  <%= @stck_request.tg_daftar %>
</p>

<p>
  <b>Tg akhir:</b>
  <%= @stck_request.tg_akhir %>
</p>

<p>
  <b>Tg cetak:</b>
  <%= @stck_request.tg_cetak %>
</p>

<p>
  <b>Tg pembatalan:</b>
  <%= @stck_request.tg_pembatalan %>
</p>

<p>
  <b>Kabupaten:</b>
  <%= @stck_request.kabupaten %>
</p>

<p>
  <b>Idranmor:</b>
  <%= @stck_request.idranmor %>
</p>


<%= link_to 'Edit', edit_stck_request_path(@stck_request) %> |
<%= link_to 'Back', stck_requests_path %>
