<%= render "pgtitle" %>
<%= render "shared/error_messages", :target => @stck_request %>
<p>
  <b>User:</b>
  <%= @stck_request.user.email %>
</p>

<p>
  <b>Perusahaan:</b>
  <%= @stck_request.perusahaan.nama_badan.to_s %>
</p>

<p>
  <b>Kepentingan:</b>
  <%= @stck_request.kepentingan %>
</p>

<p>
  <b>Merk:</b>
  <%= @stck_request.merk %>
</p>

<p>
  <b>Jenis:</b>
  <%= @stck_request.jenis %>
</p>

<p>
  <b>Model:</b>
  <%= @stck_request.model %>
</p>

<p>
  <b>Thn buat:</b>
  <%= @stck_request.thn_buat %>
</p>

<p>
  <b>Thn rakit:</b>
  <%= @stck_request.thn_rakit %>
</p>

<p>
  <b>Jml cc:</b>
  <%= @stck_request.jml_cc %>
</p>

<p>
  <b>Warna:</b>
  <%= @stck_request.warna %>
</p>

<p>
  <b>Bbm:</b>
  <%= @stck_request.bbm %>
</p>

<p>
  <b>Tnkb:</b>
  <%= @stck_request.tnkb %>
</p>

<p>
  <b>Jml roda:</b>
  <%= @stck_request.jml_roda %>
</p>

<p>
  <b>No rangka:</b>
  <%= @stck_request.no_rangka %>
</p>

<p>
  <b>No mesin:</b>
  <%= @stck_request.no_mesin %>
</p>

<p>
  <b>Tg mohon:</b>
  <%= @stck_request.tg_mohon %>
</p>

<p>
  <b>Tg persetujuan:</b>
  <%= @stck_request.tg_persetujuan %>
</p>

<p>
  <b>No daftar:</b>
  <%= @stck_request.no_daftar %>
</p>

<p>
  <b>Tg daftar:</b>
  <%= @stck_request.tg_daftar %>
</p>

<p>
  <b>Tg akhir:</b>
  <%= @stck_request.tg_akhir %>
</p>

<p>
  <b>Tg cetak:</b>
  <%= @stck_request.tg_cetak %>
</p>

<p>
  <b>Tg pembatalan:</b>
  <%= @stck_request.tg_pembatalan %>
</p>

<p>
  <b>Kabupaten:</b>
  <%= @stck_request.kabupaten %>
</p>
<div class="form-actions">
  <% unless current_user.roles.to_s.include?"admin" %>
    <% if @stck_request.tg_persetujuan==nil && @stck_request.tg_pembatalan==nil %>
      <%= link_to 'Rubah', edit_stck_request_path(@stck_request),:class=>"btn" %> 
    <% end %>
    <% if @stck_request.tg_persetujuan.to_s=="" %>
      <% if @stck_request.tg_pembatalan.nil? %>
        <%= link_to 'Batalkan', @stck_request, method: :delete, data: { confirm: 'Batalkan ?' },:class=>"btn" %> 
      <% else %>
        <%= link_to 'Aktifkan', @stck_request, method: :delete, data: { confirm: 'Aktifkan ?' },:class=>"btn" %> 
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'Kembali', stck_requests_path,:class=>"btn" %>
</div>
