<% frmclass="form-horizontal" %>
<% frmdivclass="controls, span4 control-rows span12" %>
<% frmlabelclass="control-label" %>
<% frminputclass="controls, span4 control-rows" %>
<div class="span12">
<div class="span8 offset2">
  <%= form_for(@perusahaan, :html => { :class=>"form-horizontal" } ) do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <div class="control-group">
      <%= f.label :nama_penanggung, :class=>"control-label" %>
      <%= f.text_field :nama_penanggung %>
    </div>
    <div class="control-group">
      <%= f.label :nama_badan, :class=>"control-label" %>
      <%= f.text_field :nama_badan %>
    </div>
    <div class="control-group">
      <%= f.label :alamat_badan, :class=>"control-label" %>
      <%= f.text_field :alamat_badan,:class=>"span7" %>
    </div>
    <div class="control-group">
      <%= f.label :telepon, :class=>"control-label" %>
      <%= f.text_field :telepon %>
    </div>
    <div class="control-group">
      <%= f.label :nama_kontak, :class=>"control-label" %>
      <%= f.text_field :nama_kontak %>
    </div>
    <div class="control-group">
      <%= f.label :kdperusahaan, :class=>"control-label" %>
      <%= f.text_field :kdperusahaan %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
      <% unless @perusahaan.new_record? %><%= link_to 'Tampilkan', @perusahaan,:class=>"btn" %> |<%end%>
      <%= link_to 'Batal', perusahaans_path,:class=>"btn" %>
    </div>
  <% end %>
</div>
</div>

